@model SwiftHR.Utility.LeavesEmployeeDetails
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{

    ViewData["Title"] = "Leave Status";
}


<form asp-controller="Leaves" asp-action="LeavesList" method="post">

    <button type="submit" class="close" style="margin-right: 2%; margin-top: 1%;" title="Close Window">
        <span aria-hidden="true">&times;</span>
    </button>

    <section class="content">

        <div class="row" style="margin-top: 2%;">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="../UploadImages/@Model.empDetails.EmployeeProfilePhoto" alt="User profile picture">

                        <h3 class="profile-username text-center">@Model.empDetails.FirstName @Model.empDetails.MiddleName @Model.empDetails.LastName Leave Status</h3>

                        <p class="text-muted text-center" style="font-size: 20px; font-weight: 700;"> @Model.empDetails.EmployeeNumber </p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b> Contact No </b>  <span style="color:#3c8dbc; margin-left: 4%;"> <strong> @Model.empDetails.ContactNumber </strong> </span>
                            </li>
                            <li class="list-group-item">
                                <b> Email </b>  <br /> <span style="color:#3c8dbc;"><strong> @Model.empDetails.Email </strong>  </span>
                            </li>
                            <li class="list-group-item">
                                <b>Department</b>  <br /> <span style="color:#3c8dbc;"><strong> @Model.empDetails.Department </strong>  </span>
                            </li>
                            <li class="list-group-item">
                                <b>Designation</b>  <br /> <span style="color:#3c8dbc;"> <strong> @Model.empDetails.Designation </strong> </span>
                            </li>
                            <li class="list-group-item">
                                <b>Date of Joining </b>   <span style="color:#3c8dbc; margin-left: 4%;"> <strong> @Model.empDetails.DateOfJoining </strong>  </span>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-8">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Personal" data-toggle="tab">Leaves Status</a></li>
                        <li><a href="#Employment" data-toggle="tab">Employment Details</a></li>
                        <li><a href="#Account" data-toggle="tab">Account Details</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="Personal">
                            <div class="box box-solid" style="box-shadow: none !important;">
                                <div class="box-body">
                                    <div class="box box-default" id="accordion">
                                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                        <div id="divPanelBox1" class="panel box" style="border-top: none !important; background-color:#ddd6;">
                                            <div class="box-header">
                                                <h4 class="box-title">
                                                    Approved Leaves
                                                </h4>
                                                <div class="box-tools pull-right">
                                                    <button id="btnPToggle1" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" title="Collapse" onclick="onToggle(this)">
                                                        <i id="iconPToggle1" class="fa fa-minus"></i>
                                                    </button>
                                                </div>

                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                @*<hr style="border-top: 1px solid #d2d6de;" />*@
                                                <div class="box box-default">
                                                    <div class="box">
                                                        <div class="box-body">
                                                            <table id="tblLeavesList" class="table table-bordered table-striped dt-responsive nowrap table-hover">
                                                                <thead background-color:#ddd6>

                                                                    <tr>
                                                                        <th> Leave Type</th>
                                                                        <th> Leave From </th>
                                                                        <th> Leave To </th>
                                                                        <th> Leave Applied On </th>
                                                                        <th> Leave Reason </th>
                                                                        <th> Leave Status </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Model.leaveApplyListAll != null && Model.leaveApplyListAll.Count() > 0)
                                                                    {
                                                                        @foreach (var leave in Model.leaveApplyListAll.Where(x => x.LeaveStatus == 3))
                                                                        {
                                                                            <tr>

                                                                                @foreach (var empd in Model.leaveApplyListAll.Where(x => x.EmployeeId == @leave.EmployeeId).ToList())
                                                                                {
                                                                                    <!--<td style="width: 34%;">-->
                                                                                    @*<img src="../UploadImages/default-avatar.png" alt="Emp Image" style="width:10% !important; border-radius: 50%;">
                                            <a asp-controller="Leaves" asp-action="LeavesStatus" asp-route-empId="@leave.EmployeeId" data-toggle="modal" data-target="#modal-default">
                                                <span style="margin-left:5%;">
                                                    <strong> @Model.empDetails.FirstName  @Model.empDetails.MiddleName  @Model.empDetails.LastName </strong>
                                                </span>
                                            </a>
                                            <input id="hndfEmployeeIdVal" name="empId" type="hidden" value="@leave.EmployeeId" />*@
                                                                                    <!--</td>-->
                                                                                }
                                                                                <td style="width: 24%;"> @leave.LeaveType </td>
                                                                                <td> @leave.LeaveFromDate </td>
                                                                                <td>@leave.LeaveToDate</td>
                                                                                <td>@leave.LeaveAppliedOn</td>
                                                                                <td style="width: 24%;">@leave.LeaveReason </td>
                                                                                <td>@leave.LeaveStatus </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <!-- Box 2 -->
                                        <div class="panel box" id="divPanelBox2" style="border-top: none !important;">
                                            <div class="box-header">
                                                <h4 class="box-title">
                                                    Applied Leaves
                                                </h4>
                                                <div class="box-tools pull-right">
                                                    <button id="btnPToggle2" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" title="Expand" onclick="onToggle(this)">
                                                        <i id="iconPToggle2" class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                @*<hr style="border-top: 1px solid #d2d6de;" />*@
                                                <div class="box box-default">
                                                    <div class="box">
                                                        <div class="box-body">
                                                            <table id="tblLeavesList" class="table table-bordered table-striped">
                                                                <thead background-color:#ddd6>
                                                                    <tr>
                                                                        <th> Leave Type</th>
                                                                        <th> Leave From </th>
                                                                        <th> Leave To </th>
                                                                        <th> Leave Applied On </th>
                                                                        <th> Leave Reason </th>
                                                                        <th> Leave Status </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Model.leaveApplyListAll != null && Model.leaveApplyListAll.Count() > 0)
                                                                    {
                                                                        @foreach (var leave in Model.leaveApplyListAll.Where(x => x.LeaveStatus == 1))
                                                                        {
                                                                            <tr>

                                                                                @foreach (var empd in Model.leaveApplyListAll.Where(x => x.EmployeeId == @leave.EmployeeId).ToList())
                                                                                {
                                                                                    <!--<td style="width: 34%;">-->
                                                                                    @*<img src="../UploadImages/default-avatar.png" alt="Emp Image" style="width:10% !important; border-radius: 50%;">
                                                <a asp-controller="Leaves" asp-action="LeavesStatus" asp-route-empId="@leave.EmployeeId" data-toggle="modal" data-target="#modal-default">
                                                    <span style="margin-left:5%;">
                                                        <strong> @Model.empDetails.FirstName  @Model.empDetails.MiddleName  @Model.empDetails.LastName </strong>
                                                    </span>
                                                </a>
                                                <input id="hndfEmployeeIdVal" name="empId" type="hidden" value="@leave.EmployeeId" />*@
                                                                                    <!--</td>-->
                                                                                }
                                                                                <td style="width: 24%;"> @leave.LeaveType </td>
                                                                                <td> @leave.LeaveFromDate </td>
                                                                                <td>@leave.LeaveToDate</td>
                                                                                <td>@leave.LeaveAppliedOn</td>
                                                                                <td style="width: 24%;">@leave.LeaveReason </td>
                                                                                <td>@leave.LeaveStatus </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Panel Box 3-->
                                        <div class="panel box" id="divPanelBox3" style="border-top: none !important;">
                                            <div class="box-header">
                                                <h4 class="box-title">
                                                    Cancelled Leaves
                                                </h4>
                                                <div class="box-tools pull-right">
                                                    <button id="btnPToggle3" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" title="Expand" onclick="onToggle(this)">
                                                        <i id="iconPToggle3" class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <hr style="border-top: 1px solid #d2d6de;" />
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtMobileNo">Father's Name</label>
                                                                <input type="text" id="txtFathersName" name="FathersName" asp-for="@Model.empDetails.FathersName class=" form-control" placeholder="Father's Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtEmail">Mother's Name </label>
                                                                <input type="text" id="txtMothersName" name="MothersName" asp-for="@Model.empDetails.MothersName class=" form-control" placeholder="Mother's Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtMobileNo">Spouse Name</label>
                                                                <input type="text" id="txtSpouseName" name="SpouseName" asp-for="@Model.empDetails.SpouseName class=" form-control" placeholder="Spouse Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtMobileNo">Nominee Name</label>
                                                                <input type="text" id="txtFathersName" name="FathersName" asp-for="@Model.empDetails.NomineeName class=" form-control" placeholder="Nominee Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtEmail"> Nominee Contact No </label>
                                                                <input type="text" id="txtNomineeContactNo" name="NomineeContactNo" class="form-control" maxlength="10" min="10" placeholder="Nominee Contact No" onkeypress='return restrictAlphabets(event)' onchange="ValidateMobileNo(this)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtMobileNo">Nominee DOB</label>
                                                                <input class="form-control" name="NomineeDateOfBirth" asp-for="@Model.empDetails.NomineeDob type=" date" id="dtNomineeDateOfBirth">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtMobileNo">Relation With Nominee </label>
                                                                <input type="text" id="txtNomineeRelation" name="NomineeRelation" asp-for="@Model.empDetails.NomineeRelation class=" form-control" placeholder="Relation With Nominee" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel box" id="divPanelBox4" style="border-top: none !important;">
                                            <div class="box-header">
                                                <h4 class="box-title">
                                                    Rejected Leaves
                                                </h4>
                                                <div class="box-tools pull-right">
                                                    <button id="btnPToggle4" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" title="Expand" onclick="onToggle(this)">
                                                        <i id="iconPToggle4" class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <hr style="border-top: 1px solid #d2d6de;" />
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtCourseName">Course/Degree</label>
                                                                <input type="text" id="txtCourseName" name="CourseName" class="form-control" placeholder="Course/Degree Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtUniversityName">Board/University </label>
                                                                <input type="text" id="txtUniversityName" name="UniversityName" class="form-control" placeholder="University Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtMobileNo">Year of Passing </label>
                                                                <input type="text" id="txtPassingYear" name="PassingYear" class="form-control" placeholder="Year of Passing" maxlength="4" onkeypress='return restrictAlphabets(event)'>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="txtMarks">Marks(%) </label>
                                                                <input type="text" id="txtMarks" name="Marks" class="form-control" placeholder="Marks" onkeypress='return restrictAlphabets(event)'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="Employment">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-red">
                                        10 Feb. 2014
                                    </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-envelope bg-blue"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                        <div class="timeline-body">
                                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                            quora plaxo ideeli hulu weebly balihoo...
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                            <a class="btn btn-danger btn-xs">Delete</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-user bg-aqua"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                        <h3 class="timeline-header no-border">
                                            <a href="#">Sarah Young</a> accepted your friend request
                                        </h3>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-comments bg-yellow"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                        <div class="timeline-body">
                                            Take me to your leader!
                                            Switzerland is small and neutral!
                                            We are more like Germany, ambitious and misunderstood!
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-green">
                                        3 Jan. 2014
                                    </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-camera bg-purple"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                        <div class="timeline-body">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="Account">

                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputName2" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                                <div class="col-sm-10">
                                    <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                            </div>

                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>

    </section>

</form>

<script type="text/javascript">
    function onToggle(btnToggle) {

        document.getElementById("divPanelBox1").style.backgroundColor = "#ffffff";
        document.getElementById("divPanelBox2").style.backgroundColor = "#ffffff";
        document.getElementById("divPanelBox3").style.backgroundColor = "#ffffff";
        document.getElementById("divPanelBox4").style.backgroundColor = "#ffffff";

        switch (btnToggle.id) {
            case 'btnPToggle1':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle1").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox1").style.backgroundColor = "#ddd6";

                    $("#btnPToggle2").prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle3").prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle4").prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                break;
            case 'btnPToggle2':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle2").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox2").style.backgroundColor = "#ddd6";
                    $("#btnPToggle1").prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle3").prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle4").prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                break;
            case 'btnPToggle3':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle3").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox3").style.backgroundColor = "#ddd6";
                    $("#btnPToggle1").prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle2").prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle4").prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                break;
            case 'btnPToggle4':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle4").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox4").style.backgroundColor = "#ddd6";
                    $("#btnPToggle1").prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle2").prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle3").prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                }
                break;

        }


    }

    function ValidateMobileNo(txtMobileNo) {
        var mobileNo = txtMobileNo.value;

        if (mobileNo.length < 10) {
            txtMobileNo.value = "";
            alert("Please enter valid mobile number.");
        }
    }

    function preventNumberInput(e) {
        var keyCode = (e.keyCode ? e.keyCode : e.which);
        if (keyCode > 47 && keyCode < 58 || keyCode > 95 && keyCode < 107) {
            e.preventDefault();
        }
    }

    function restrictAlphabets(e) {
        var x = e.which || e.keycode;
        if ((x >= 48 && x <= 57))
            return true;
        else
            return false;
    }

    function ValidateEmail(txtEmail) {
        var emailId = txtEmail.value;
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(emailId)) {
            txtEmail.value = "";
            alert("Please enter valid email.");
        }
    }

    function ddlAddressSelectionChange(selValue) {
        if (selValue == "PermanentAddress") {
            document.getElementById("divPresentAddress").style.display = "none";
            document.getElementById("divPermanentAddress").style.display = "block";
        }
        else {
            document.getElementById("divPermanentAddress").style.display = "none";
            document.getElementById("divPresentAddress").style.display = "block";
        }
    }

</script>



@section Scripts {

    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#liLeave").addClass("active");
            $("#liEmployeeLeaves").addClass("active");
            document.getElementById("liEmployeeLeaves").style.backgroundColor = "#3c8dbc45";
        });

        $(function () {
            $('#tblLeavesList').DataTable();
        })

    </script>
}



