@model SwiftHR.Utility.LeavesAllDetails

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "LeavesApplyDetails";
}

<!-- DataTables -->
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<section class="content-header">
    <h1>
        Employee Leaves
        <button class="btn btn-flat btn-warning" id="btnBusy" style="float: right; margin-right: 3%; visibility:hidden" disabled>
            <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
        </button>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-info">


        <div class="box-body">
            <table id="tblLeavesList" class="table table-bordered table-striped dt-responsive nowrap table-hover " style="width:100%">
                <thead class="bg-primary">
                    <tr>
                        <th> Employee Name</th>
                        <th> Leave Type</th>
                        <th> Leave From </th>
                        <th> Leave To </th>
                        <th> Leave Applied On </th>
                        <th> Leave Reason </th>
                        <th> Leave Status </th>
                        <th> Leave Action </th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null && Model.leaveApplyListAll.Count() > 0)
                    {
                        @foreach (var leave in Model.leaveApplyListAll)
                        {
                            <tr>
                                @*<td style="width: 34%;"> <img src="../UploadImages/@contact.EmployeeProfilePhoto" alt="Emp Image" style="width:10% !important; border-radius: 50%;"> <span style="margin-left:5%;"> <strong> @contact.FirstName  @contact.MiddleName  @contact.LastName </strong>  </span> </td>*@

                                @foreach (var empd in Model.empMasterDataItems.Where(x => x.EmployeeId == @leave.EmployeeId).ToList())
                                {
                                    <td style="width: 20%;">
                                        <img src="../UploadImages/@empd.EmployeeProfilePhoto" alt="Emp Image" style="width:10% !important; border-radius: 50%;">
                                        <a asp-controller="Leaves" asp-action="LeavesStatus" asp-route-empId="@leave.EmployeeId" data-toggle="modal" data-target="#modal-default" data-backdrop="static" data-keyboard="false">
                                            <span style="margin-left:5%;">
                                                <strong> @empd.FirstName  @empd.MiddleName  @empd.LastName </strong>
                                            </span>
                                        </a>
                                        <input id="hndfEmployeeIdVal" name="empId" type="hidden" value="@leave.EmployeeId" />
                                    </td>
                                }
                                <td> @leave.LeaveType </td>
                                <td> @leave.LeaveFromDate </td>
                                <td>@leave.LeaveToDate</td>
                                <td>@leave.LeaveAppliedOn</td>
                                <td>@leave.LeaveReason </td>
                                <td>@leave.LeaveStatus </td>
                                <td style="width: 25%;">
                                    @if (leave.LeaveStatus == 1)
                                    {
                                        <a href="" type="button" id="_@leave.EmployeeId"  class="btn btn-primary pull-left btn-xs" style="float: left; margin-right: 4%;" onclick="UpdateLeaves(@leave.EmployeeId,@leave.EmpLeaveId,@Configuration["LeaveStatus:Approved"]);"><i id="__@leave.EmployeeId" class="fa fa-thumbs-up"></i> Approve Leave </a>
                                        <a href="" type="button" id="_@leave.EmployeeId" class="btn btn-danger pull-right btn-xs" style="float: right; margin-right: 4%;" onclick="UpdateLeaves(@leave.EmployeeId,@leave.EmpLeaveId,@Configuration["LeaveStatus:Rejected"]);"><i id="___@leave.EmployeeId" class="fa fa-thumbs-down"></i> Reject Leave </a>
                                    }

                                </td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog" style="width: 65% !important;">

            <div class="modal-content">

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>




@section Scripts {

    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#liLeave").addClass("active");
            $("#liEmployeeLeaves").addClass("active");
            document.getElementById("liEmployeeLeaves").style.backgroundColor = "#3c8dbc45";
        });

        $(function () {
            $('#tblLeavesList').DataTable();
        })

        function UpdateLeaves(empId, leaveId, leaveStatus) {
            document.body.style.cursor = 'progress';
            document.getElementById("btnBusy").style.visibility = 'visible';
            var selectedIcon = "#__" + empId;
            $(selectedIcon).addClass("fa-pulse fa-spin");
            var form_data = new FormData();
            form_data.append('empId', empId);
            form_data.append('leaveId', leaveId);
            form_data.append('leaveStatus', leaveStatus);
            alert("Approve Leave" + empId);
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateLeavesStatus", "Leaves")",
                processData: false,
                contentType: false,
                async: false,
                cache: false,
                data: form_data,
                success: function (response) {
                    alert("Approve Leave inside");
                    //alert($(this).parent().);
                    var usrMsgData = JSON.parse(response);
                    //alert(usrMsgData[0]);
                    if (usrMsgData != null && usrMsgData != undefined) {
                        var myTable = $('#tblLeavesList').DataTable();
                        //myTable.cell({ focused: true }).row().remove();
                        //myTable.draw();
                        var selectedButton = "#_" + empId;
                        //alert(selectedButton);
                        myTable.row($(selectedButton).parents('tr')).remove().draw(false);
                        //myTable.row($('#_1').parents('tr')).remove().draw(false);
                        //myTable.row(document.getElementById(selectedButton).parents('tr')).remove().draw(false);

                        document.getElementById("successBody").innerHTML = usrMsgData[0];
                        document.getElementById("modal-success").style.display = "block";
                        setTimeout(successAlertClose, 5000);
                        //alert("saved data");
                        document.body.style.cursor = 'default';
                        document.getElementById("btnBusy").style.visibility = 'hidden';
                        $(selectedIcon).removeClass("fa-pulse fa-spin");
                    }
                },
                error: function (req, status, error) {
                    //console.log(msg);
                }
            });
    }
    </script>
}




@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveReason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveFromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveToDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveAppliedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportingManagerUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportingManagerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveStatusChangeDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveStatusChangedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRejectReason)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveReason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveFromDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveToDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveAppliedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportingManagerUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportingManagerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveStatusChangeDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveStatusChangedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveRejectReason)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmpLeaveId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EmpLeaveId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EmpLeaveId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
